/* CSS declarations go here */
@import url("https://fonts.googleapis.com/css?family=Lato:400,700,400italic");
.map-container {
    width: 800px;
    max-width: 100%;
    height: 500px;
}

.carouselItemImg {
    float: none;
    margin: 0 auto;
}

.bigLogo {
    position: absolute;
    left: 1em;
    top: 0.7em;
}

.removeUlLiDot {
    list-style-type: none;
}

.backArrow {
    position: fixed;
    top: 0.7em;
    right: 1em;
}

.bigLogo {
    float: right;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid grey;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin: auto;
    position: fixed;
    top: 40%;
    left: 44%;
}

.addedImg {
    float: left;
}

.loader_text {
    margin: auto;
    position: fixed;
    top: 55%;
    left: 49%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


body {
    background: #eee !important;
}

.wrapper {
    margin-top: 80px;
    margin-bottom: 80px;
}

.form-signin {
    max-width: 380px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
}

form {
    margin-top: 10px;
    margin-bottom: -10px;
    position: relative;
}

.checkbox {
    margin-bottom: 30px;
}

.checkbox {
    font-weight: normal;
}


input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}





body {
    font-family: sans-serif;
    background-color: #315481;
    background-image: linear-gradient(to bottom, #315481, #918e82 100%);
    background-attachment: fixed;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 0;
    margin: 0;

    font-size: 14px;
}

.pageContainer {
    max-width: 100%;
    margin: 0 auto;
    min-height: 100%;
    background: white;
}

.topbar {
    position: absolute;
    left: 100px;
    top: 150px;
}

header {
    background: white;
    background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
    padding: 20px 15px 15px 15px;
    position: relative;
}


#login-buttons {
    display: block;
}

h1 {
    font-size: 1.5em;
    margin: 0;
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 1em;
}

.new-report input {
    box-sizing: border-box;
    padding: 10px 0;
    background: transparent;
    border: none;
    width: 100%;
    padding-right: 80px;
    font-size: 1em;
}

.new-report input:focus{
    outline: 0;
}



.deleteBtn {
    float: right;
    font-weight: bold;
    background: none;
    font-size: 1em;
    border: none;
    position: relative;
}

.seeBtn {
    float: right;
    font-weight: bold;
    font-size: 1em;
    position: relative;
    bottom: 0;
}

.backBtn {
    float: right;
    padding-top: 5%;
    padding-right: 8%;
}

.flagBtn {
    float: right;
    padding-top: 14%;
    padding-right: 24%;
}

.nyRapportBtn {
    float: right;
    position: relative;
    padding: 5px;
}



li .text {
    margin-left: 10px;
}

li.checked {
    color: #888;
}

li.checked .text {
    text-decoration: line-through;
}

li.private {
    background: #eee;
    border-color: #ddd;
}

header .hide-completed {
    float: right;
}

.toggle-private {
    margin-left: 5px;
}

@media (max-width: 600px) {
    li {
        padding: 12px 15px;
    }

    .search {
        width: 150px;
        clear: both;
    }

    .new-report input {
        padding-bottom: 5px;
    }
}



.smallImg {
    margin: 5px;
    padding: 5px;
}

.bigImg {
    margin: 5px;
    padding: 5px;
    width: 100%;
    height: auto;
}

.errorText {
    color: red;
}

.category {
    max-width: 100%;
    margin: 0 auto 10px;
}

.Modal, .ModalHeader, .ModalTitle, .ModalBody, .ModalFooter {
    position: absolute;
}

.submitPageUls {
    margin: 0;
    padding: 0;
    background: white;
}

.submitPageLis {
    position: relative;
    list-style: none;
    padding: 15px;
    border-bottom: #eee solid 1px;
}

